
<div class="flex-column current" id="form-container" data-kt-stepper-element="content">
    {% for each_form in form %}
    <div class="formset_form border rounded border-2 border-dark mb-10 p-10" id="form_{{forloop.counter0}}">
    <div class="row d-flex justify-content-evenly">
        {% include 'farmer_admin/form_fields.html' with form=each_form form_errors=each_form.non_form_errors flex_10=True %}
        
        {% if forloop.counter == 1 %}
        <div class="col-xl-1 d-flex justify-content-center align-items-center delete-button">
        </div>
        {% else %}
        <div class="col-xl-1 d-flex justify-content-center align-items-center delete-button">
            <button class="btn btn-primary" onClick="deleteForm('form_{{forloop.counter0}}')" type="button">
                <i class="bi bi-trash fs-2"></i>
            </button>
        </div>
        {% endif %}
    </div>

    {% comment %} Each form error {% endcomment %}
    <div class="row">
        <ul id="errorlist_ul" class="errorlist">
            {% for error in each_form.non_field_errors %}
            <li class="text-danger mt-3" style="text-align:start">
                {{error}}
            </li>
            {% endfor %}
        </ul>
    </div>
    </div>
    {% endfor %}

    {% comment %} Formset error {% endcomment %}
    <div class="row">
        <ul id="errorlist_ul" class="errorlist">
            {% for error in form_errors %}
            <li class="text-danger mt-3" style="text-align:start">
                {{error}}
            </li>
            {% endfor %}
        </ul>
    </div>


    <div class="row d-flex justify-content-center" id="add-new-button-container">
        <div class="col-xl-3 d-flex justify-content-center">
            <button id="add-form" onclick="addForm(event)" class="btn btn-primary" type="button">Add Another</button>
        </div>
    </div>
</div>
