{% extends 'farmer_admin/base.html' %}
{% load static %}

{% block content %}
<!--begin::Post-->
<div class="content flex-row-fluid" id="kt_content">
    <!--begin::Card-->
    <div class="card">
        <!--begin::Card body-->
        <div class="card-body py-4"> 
            <div class="row">
                <div class="col-xl-12 d-flex flex-column justify-content-center align-items-center">
                    <img src="{% static 'assets/media/misc/done.png' %}" class="img-responsive m-5 p-5" alt="Done" />
                    <h4 class="mt-10"> Successfully Added Organic Crop Details </h4>
                    <a class="btn btn-primary" href="{% url 'farmer_admin:farmer_overview' farmer_pk %}"> Go to Farmer Details </a>
                </div>
            </div>
        </div>
        <!--end::Card body-->
    </div>
    <!--end::Card-->
</div>
<!--end::Post-->z
    
{% endblock content %}
