{% extends 'farmer_admin/base.html' %}
{% load static %}
{% block content %}
<!--begin::Post-->
<div class="content flex-row-fluid" id="kt_content">
    <!--begin::Card-->
    <div class="card">
        <!--begin::Card body-->
        <div class="card-body py-4"> 
            <div class="row">
                <div class="col-xl-12 d-flex flex-column justify-content-center align-items-center">
                    <img src="{% static 'assets/media/misc/done.png' %}" class="img-responsive m-5" alt="Done" />
                    <h4 class="my-5"> Successfully Submitted Ginning Request </h4>
                    <a class="btn btn-primary my-5" href="{% url 'farmer_admin:ginning_list_view' %}"> Go to Dashboard </a>
                </div>
            </div>
        </div>
        <!--end::Card body-->
    </div>
    <!--end::Card-->
</div>
<!--end::Post-->
    
{% endblock content %}
