{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<!--begin::Content-->
<div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
    <!--begin::Logo-->
    <a href="#" class="mb-12">
        <img alt="Logo" src="{% static 'assets/media/logos/logo.svg' %}" class="h-30px theme-light-show" />
        <img alt="Logo" src="{% static 'assets/media/logos/logo.svg' %}" class="h-30px theme-dark-show" />
    </a>
    <!--end::Logo-->
    <!--begin::Wrapper-->
    <div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
        <!--begin::Form-->
        <form class="form w-100" enctype="multipart/form-data"  method="POST" id="kt_sign_in_form">
            {% csrf_token %}
            <!--begin::Heading-->
            <div class="text-center mb-10">
                <!--begin::Title-->
                <h1 class="text-dark mb-3">Sign In</h1>
                <!--end::Title-->
            </div>
            <!--begin::Heading-->
            <!--begin::Input group-->
            <div class="fv-row mb-10">
                <!--begin::Label-->
                <label class="form-label fs-6 fw-bold text-dark">Email</label>
                <!--end::Label-->
                <!--begin::Input-->
                {{ form.email}}
                <div class="text-danger">
                    {{ form.email.errors | safe}}
                </div>
                <!--end::Input-->
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="fv-row mb-10">
                <!--begin::Wrapper-->
                <div class="d-flex flex-stack mb-2">
                    <!--begin::Label-->
                    <label class="form-label fw-bold text-dark fs-6 mb-0">Password</label>
                    <!--end::Label-->
                    <!--begin::Link-->
                    {% comment %} <a href="#" class="link-primary fs-6 fw-bold">Forgot Password ?</a> {% endcomment %}
                    <!--end::Link-->
                </div>
                <!--end::Wrapper-->
                <!--begin::Input-->
                <div class="input-icon input-icon-right">
                {{ form.password}}
                <span class="mr-2" id="password-eye-id" style="display: none;" onclick="togglePasswordView()">
                    <i class="flaticon-eye icon"></i>
                </span>
                </div>
                <div class="text-danger">
                    {{ form.password.errors }}
                </div>
                <!--end::Input-->
            </div>
            <!--end::Input group-->
            <div class="row">
                <ul id="errorlist_ul" class="errorlist">
                    {% for error in form.non_field_errors %}
                    <li class="text-danger mt-3" style="text-align:start">
                        {{error}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!--begin::Actions-->
            <div class="text-center">
                <!--begin::Submit button-->
                <button onclick="get_token(event)" type="submit" id="kt_sign_in_submit" class="btn btn-lg btn-primary w-100 mb-5">
                    <span class="indicator-label">Continue</span>
                    <span class="indicator-progress">Please wait...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                </button>
                <!--end::Submit button-->
            </div>
            <!--end::Actions-->
        </form>
        <!--end::Form-->
    </div>
    <!--end::Wrapper-->
</div>
<!--end::Content-->
{% endblock content %}

{% block js %}
{{block.super}}
<script>
    // Code to show only if the text is present in the input
    $(function(){
        $('#id_password').on('input', function(e) {
            var value = e.target.value
            if (value){
                $('#password-eye-id').css('display','')
            }else{
                $('#password-eye-id').css('display','none')
            }
        });
    });

    // code to toggle password visibility
    function togglePasswordView(){
        var passwordInput = document.getElementById("id_password");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    }

    function get_token(e){
        e.preventDefault()
        let email = document.getElementById('id_email').value
        let password = document.getElementById('id_password').value
        if (email && password){
            let login_url = "{% url 'api:api_users:login_api_view' %}"
            const formData = new FormData()
            formData.append('email', email.toLowerCase())
            formData.append('password', password)
            fetch(login_url, {
                method: "POST",
                body: formData,
            })
            .then((response) => {
                if (response.ok != true) {
                    return null
                }
                else {
                    return response.json()
                }
            })
            .then(function (data) {
                document.getElementById('kt_sign_in_form').submit()
            })
        }
        else{
            document.getElementById('kt_sign_in_form').submit()
        }
    }
    
</script>
{% endblock js %}