{% extends 'farmer_admin/base_create_edit.html' %}
{% load static %}

{% block title %}
{% if costs_object %} Edit Costs {% else %} Add Costing {% endif %}
{% endblock title %}


{% block js %}
{{block.super}}
<script>
    $("#id_end_date").daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 1901,
        locale: {
            format: 'YYYY-MM-DD'
        },
        maxYear: parseInt(moment().format("YYYY"),12)
    });
    $("#id_start_date").daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 1901,
        locale: {
            format: 'YYYY-MM-DD'
        },
        maxYear: parseInt(moment().format("YYYY"),12)
    });
    

</script>
{% endblock js %}