{% extends 'farmer_admin/base_list.html' %}


{% block title %}
Costs list
{% endblock title %}

{% block breadcrumb_items %}
<!--begin::Item-->
<li class="breadcrumb-item text-white opacity-75">
    <a href="#" class="text-white text-hover-primary">Costs</a>
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="breadcrumb-item">
    <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="breadcrumb-item text-white opacity-75">List</li>
<!--end::Item-->
{% endblock breadcrumb_items %}
