{% extends 'farmer_admin/base.html' %}
{% load static %}
{% load base_extras %}

{% block title %}
Farmers Geotagging
{% endblock title %}

{% block css %}
{{block.super}}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>
<style>
    .google-visualization-tooltip { pointer-events: none; }
</style>


{% endblock css %}

{% block content %}
<!--begin::Post-->
<div class="content flex-row-fluid" id="kt_content">
    <!--begin::Card-->
    <div class="row gy-5 g-xl-10">
        <div class="col-xl-8 mb-xl-10">
            <div class="card h-md-100">
                <!--begin::Card body-->
                <div class="card-body d-flex flex-column pt-13 pb-14">
                    <div id="map" class="m-0" style="height: 600px; width: 100%"></div>
                </div>
                <!--end::Card body-->
            </div>
        </div>
        <div class="col-xl-4 mb-xl-10">
            <div class="card card-flush h-xl-100">
                <div class="card-body pb-0 pt-4" id="farmer_details_div">
                    <div class="d-flex justify-content-center align-items-center">
                        <h4 class="text-center">Select a marker in the map to view the details of the farmer</h4>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end::Card-->
    <div class="row gy-5 g-xl-8">
        <!--begin::Col-->
        <div class="col-xxl-6">
            <!--begin::Table Widget 1-->
            <div class="card card-xxl-stretch">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5 pb-3">
                    <!--begin::Card title-->
                    <h3 class="card-title fw-bold text-gray-800 fs-2">
                        Crops
                    </h3>
                    <!--end::Card title-->
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar">
                        <div class="my-1 d-flex">
                            <!--begin::Select-->
                            <select class="form-select fw-semibold w-125px select2 crop_select" id="crop_detail_select"
                                tabindex="-1" aria-hidden="true">
                            </select>
                            <!--end::Select-->
                            <!--begin::Select-->
                            <select class="form-select fw-semibold w-125px select2" id="year_select"
                                tabindex="-1" aria-hidden="true">
                                {% for year in year_range %}
                                    <option value="{{year}}">{{year}}</option>
                                {% endfor %}
                            </select>
                            <!--end::Select-->
                            
                        </div>
                    </div>
                    <!--end::Card toolbar-->
                </div>
                <!--end::Header-->
    
                <!--begin::Body-->
                <div class="card-body py-0">
                    <!--begin::Table-->
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="crop_datatable">
                            <!--begin::Table body-->
                            <tbody>
                            </tbody>
                            <!--end::Table body-->
                        </table>
                    </div>
                    <!--end::Table-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Table Widget 1-->
        </div>
        <!--end::Col-->
    
        <!--begin::Col-->
        <div class="col-xxl-6">
            <!--begin::Row-->
            <div class="row">
                <!--begin::Col-->
                <div class="col-xxl-6">
                    <!--begin::Statistics Widget 1-->
                    <div class="card card-xxl-stretch-50 mb-5 mb-xl-8">
                        <!--begin::Body-->
                        <div class="card-body d-flex flex-column justify-content-between p-0">
                            <!--begin::Hidden-->
                            <div class="d-flex flex-column px-9 py-5">
                                <!--begin::Number-->
                                <div class="text-success fw-bolder fs-2hx">{{farmers_count}}</div>
                                <!--end::Number-->
    
                                <!--begin::Description-->
                                <span class="text-gray-400 fw-semibold fs-6">Total Farmers in the platform</span>
                                <!--end::Description-->
                            </div>
                            <!--end::Hidden-->

                            <div id="kt_apexcharts_3" ></div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Statistics Widget 1-->
                </div>
                <!--end::Col-->
                
                <!--begin::Col-->
                <div class="col-xxl-6">
                    <!--begin::Statistics Widget 1-->
                    <div class="card card-xxl-stretch-50 mb-5 mb-xl-8">
                        <!--begin::Body-->
                        <div class="card-body d-flex flex-column justify-content-between p-0">
                            <!--begin::Hidden-->
                            <div class="d-flex flex-column px-9 py-5">
                                <!--begin::Number-->
                                <div class="text-success fw-bolder fs-2hx">{{raw_cotton}}</div>
                                <!--end::Number-->
                                <!--begin::Description-->
                                <span class="text-gray-400 fw-semibold fs-6">Total Raw Cotton</span>
                                <!--end::Description-->
                            </div>
                            <!--end::Hidden-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Statistics Widget 1-->
                </div>
                <!--end::Col-->

                <!--begin::Col-->
                <div class="col-xxl-6">
                    <!--begin::Statistics Widget 1-->
                    <div class="card card-xxl-stretch-50 mb-5 mb-xl-8">
                        <!--begin::Body-->
                        <div class="card-body d-flex flex-column justify-content-between p-0">
                            <!--begin::Hidden-->
                            <div class="d-flex flex-column px-9 py-5">
                                <!--begin::Number-->
                                <div class="text-success fw-bolder fs-2hx">{{ginned_cotton}}</div>
                                <!--end::Number-->
                                <!--begin::Description-->
                                <span class="text-gray-400 fw-semibold fs-6">Total Ginned Cotton</span>
                                <!--end::Description-->
                            </div>
                            <!--end::Hidden-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Statistics Widget 1-->
                </div>
                <!--end::Col-->

                <!--begin::Col-->
                <div class="col-xxl-6">
                    <!--begin::Statistics Widget 1-->
                    <div class="card card-xxl-stretch-50 mb-5 mb-xl-8">
                        <!--begin::Body-->
                        <div class="card-body d-flex flex-column justify-content-between p-0">
                            <!--begin::Hidden-->
                            <div class="d-flex flex-column px-9 py-5">
                                <!--begin::Number-->
                                <div class="text-success fw-bolder fs-2hx">{{yarn}}</div>
                                <!--end::Number-->
                                <!--begin::Description-->
                                <span class="text-gray-400 fw-semibold fs-6">Total Yarn</span>
                                <!--end::Description-->
                            </div>
                            <!--end::Hidden-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Statistics Widget 1-->
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
            <div class="row">
                <!--begin::Mixed Widget 2-->
                <div class="card card-xxl-stretch-50 mb-5 mb-xl-8">
                    <!--begin::Body-->
                    <div class="card-body d-flex flex-column justify-content-between p-0">
                        <!--begin::Hidden-->
                        <div class="d-flex flex-column px-9 pt-5">
                            <!--begin::Number-->
                            <span class="text-primary fw-bolder fs-2hx">{{total_organic_crop_area}} Ha</span>
                            <!--end::Number-->

                            <!--begin::Description-->
                            <span class="text-gray-400 fw-semibold fs-6">Total Area under organic crop certification</span>
                            <!--end::Description-->
                        </div>
                        <!--end::Hidden-->
                        <div id="kt_amcharts_3" style="height: 500px;"></div>
                    </div>
                </div>
                <!--end::Mixed Widget 2-->
            </div>
        </div>
        <!--end::Col-->
    </div>

    <div class="row gy-5 g-xl-8">
        <div class="col-xl-12">
            <!--begin::Table Widget 1-->
            <div class="card card-xxl-stretch">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5 pb-3">
                    <!--begin::Card title-->
                    <h3 class="card-title fw-bold text-gray-800 fs-2">
                        Crop Costs
                    </h3>
                    <!--end::Card title-->
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar">
                        <div class="my-1">
                            <!--begin::Select-->
                            <select class="form-select fw-semibold w-125px select2 crop_select" id="crop_cost_select"
                                tabindex="-1" aria-hidden="true">
                            </select>
                            <!--end::Select-->
                        </div>
                    </div>
                    <!--end::Card toolbar-->
                </div>
                <!--end::Header-->
    
                <!--begin::Body-->
                <div class="card-body" style="overflow: scroll; overflow-y: hidden;">
                    <div id="kt_apexcharts_2" style="min-width: 700px; min-height: 500px;"></div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="row gy-5 g-xl-8">
        <div class="col-xl-12">
            <!--begin::Table Widget 1-->
            <div class="card card-xxl-stretch">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5 pb-3">
                    <!--begin::Card title-->
                    <h3 class="card-title fw-bold text-gray-800 fs-2">
                        Nutrient Management
                    </h3>
                    <!--end::Card title-->
                </div>
                <!--end::Header-->
    
                <!--begin::Body-->
                <div class="card-body" style="overflow: scroll; overflow-y: hidden;">
                    <div id="nutrition_bar_graph" style="min-width: 700px; min-height: 500px;"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row gy-5 g-xl-8">
        <div class="col-xl-12">
            <!--begin::Table Widget 1-->
            <div class="card card-xxl-stretch">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5 pb-3">
                    <!--begin::Card title-->
                    <h3 class="card-title fw-bold text-gray-800 fs-2">
                        Pest Management
                    </h3>
                    <!--end::Card title-->
                </div>
                <!--end::Header-->
    
                <!--begin::Body-->
                <div class="card-body">
                    <div id="pest_bar_graph" style="height: 500px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Post-->
{% endblock content %}

{% block js %}
{{block.super}}
<!-- Make sure you put this AFTER Leaflet's CSS -->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
crossorigin=""></script>
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>


<script>
    var map = L.map('map').setView(["{{average_latitude}}", "{{average_longitude}}"], 8);
    L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: ''
    }).addTo(map)

    var Stadia_StamenTonerLabels = L.tileLayer('https://tiles.stadiamaps.com/tiles/stamen_toner_labels/{z}/{x}/{y}{r}.{ext}?api_key=9e977ed7-2595-499c-9524-7fa202581da4', {
        minZoom: 0,
        maxZoom: 20,
        attribution: '&copy; <a href="https://www.stadiamaps.com/" target="_blank">Stadia Maps</a> &copy; <a href="https://www.stamen.com/" target="_blank">Stamen Design</a> &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        ext: 'png'
    }).addTo(map)
    
    var Stadia_StamenTerrainLines = L.tileLayer('https://tiles.stadiamaps.com/tiles/stamen_terrain_lines/{z}/{x}/{y}{r}.{ext}?api_key=9e977ed7-2595-499c-9524-7fa202581da4', {
        minZoom: 0,
        maxZoom: 18,
        attribution: '&copy; <a href="https://www.stadiamaps.com/" target="_blank">Stadia Maps</a> &copy; <a href="https://www.stamen.com/" target="_blank">Stamen Design</a> &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        ext: 'png'
    }).addTo(map)


    window.onload = () => {
        const farmers_land_data_url = "{% url 'api:api_farmer_admin:farmers_land_coordinates_api_view' %}"
        fetch(farmers_land_data_url, {
            method: "GET",
            credentials: "include",
        })
        .then((response) => {
            if (response.ok != true) {
                toastr.error(response.statusText);
                checkResponse(response)
                return null
            }
            else {
                return response.json()
            }
        })
        .then(function (data) {
            if (data.length > 0){
                data.forEach(coordinate => {
                    var farmer_land_marker = new L.marker([coordinate.latitude, coordinate.longitude]).addTo(map).on('click', markerOnClick)
                    farmer_land_marker.farmer_id = coordinate.farmer
                })
            }
        })

        const markerOnClick = (e) => {
            const farmer_details_div = document.getElementById('farmer_details_div')
            farmer_details_div.innerHTML = `
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            `
            // Get farmer details like name and profile photo
            const farmer_details_url = "{% url 'api:api_farmer_admin:farmer_details_api_view' 'fc56edbe-d4a1-4269-9902-a300062be0b7' %}".replace('fc56edbe-d4a1-4269-9902-a300062be0b7', e.target.farmer_id)
            
            fetch(farmer_details_url, {
                method: "GET",
                credentials: "include",
            })
            .then((response) => {
                if (response.ok != true) {
                    toastr.error(response.statusText);
                    checkResponse(response)
                    return null
                }
                else {
                    return response.json()
                }
            })
            .then(function (data) {
                const profile_url = "{% url 'farmer_admin:farmer_overview' 'fc56edbe-d4a1-4269-9902-a300062be0b7' %}".replace('fc56edbe-d4a1-4269-9902-a300062be0b7', e.target.farmer_id)
                farmer_details_div.innerHTML = `
                <!--begin::Summary-->
                <div class="d-flex flex-center flex-column w-100">

                    <div class="d-flex flex-column w-100">
                        <div class="d-flex"
                        style="background: url('${data.land[0]?.image}'); 
                        height: 100px;
                        width: 100%;
                        background-repeat: no-repeat;
                        background-size: cover;">

                        </div>
                        <div class="row">
                            <div class="col-xl-4">
                                <!--begin::Avatar-->
                                <div class="symbol mb-3 symbol-100px symbol-circle ms-5" style="margin-top: -100px;">
                                    <img alt="Pic" src="${data.profile_image}" />
                                </div>
                                <!--end::Avatar-->
                            </div>
                            <div class="col-xl-8 d-flex flex-column justify-content-center align-items-start">
                                <a href="${profile_url}" target="_blank" class="fs-2 text-gray-800 text-hover-primary mb-1 w-100">${data.user.user_display_name}</a>    
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-center ps-0" style="border-bottom: 1px solid #1B4441;">
                                <div class="symbol symbol-50px me-2" style="align-self: center;">
                                    <img src="{% static 'assets/media/icons/custom/crop.png' %}" alt=""/>
                                </div>
                                <div class="d-flex flex-column">
                                    <span class="fs-4 fw-bolder text-gray-800">Crop</span>
                                    <span class="fs-5 text-gray-800">${data.organic_crop[0]?.name || ''}</span>
                                </div>
                            </div>
                            <div class="col-xl-8 d-flex align-items-center" style="border-bottom: 1px solid #1A4441;border-left: 1px solid #1A4441;">
                                <div class="symbol symbol-50px me-4" style="align-self: center;">
                                    <img src="{% static 'assets/media/icons/custom/map.png' %}" alt=""/>
                                </div>
                                <div class="d-flex flex-column">
                                    <span class="fs-4 fw-bolder text-gray-800">Total area under Production (Ha)</span>
                                    <span class="fs-5 text-gray-800">${data.organic_crop[0]?.area || ''}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-3 w-100" style="border-bottom: 1px solid #1A4441; ">
                        <div class="col-xl-6 d-flex flex-column align-items-start">
                            <h5>Farm Type</h5>
                            <p>${data.organic_crop[0]?.type || ''}</p>
                        </div>
                        <div class="col-xl-6 d-flex flex-column align-items-start">
                            <h5>Village Name</h5>
                            <p>${data.village}</p>
                        </div>
                    </div>
                    <div class="row my-3 w-100" style="border-bottom: 1px solid #1A4441; ">
                        <div class="col-xl-6 d-flex flex-column align-items-start">
                            <h5>Taluka</h5>
                            <p>${data.taluka}</p>
                        </div>
                        <div class="col-xl-6 d-flex flex-column align-items-start">
                            <h5>Yield (Kgs)</h5>
                            <p>${data.organic_crop[0]?.expected_yield || ''}</p>
                        </div>
                    </div>

                    <div class="row my-3 w-100" style="border-bottom: 1px solid #1A4441; ">
                        <div class="col-xl-6 d-flex flex-column align-items-start">
                            <h5>Season</h5>
                            <p>${data.organic_crop[0]?.season.name || ''}</p>
                        </div>
                        <div class="col-xl-6 d-flex flex-column align-items-start">
                            <h5>Estimated Harvest date</h5>
                            <p>${data.organic_crop[0]?.expected_date_of_harvesting || ''}</p>
                        </div>
                    </div>

                    <div class="row my-3 w-100" style="border-bottom: 1px solid #1A4441; ">
                        <div class="col-xl-6 d-flex flex-column align-items-start">
                            <h5>Gross Income</h5>
                            <p>${data.organic_crop[0]?.harvest_income[0]?.gross_income || ''}</p>
                        </div>
                        <div class="col-xl-6 d-flex flex-column align-items-start">
                            <h5>Total Crop Harvested</h5>
                            <p>${data.organic_crop[0]?.harvest_income[0]?.total_crop_harvested || ''}</p>
                        </div>
                    </div>

                    <div class="row my-3 w-100 align-items-center">
                        <a  href="${profile_url}" class="btn btn-primary" target="_blank"> View More </a>
                    </div>

                   
                </div>
                <!--end::Summary-->
                `
            })

        }

        // Select Button data fetching 
        let crop_url = "{% url 'api:api_farmer_admin:get_crop_names_api_view' %}"
        fetch(crop_url, {
            method: "GET",
            credentials: "include",
        })
        .then((response) => {
            if (response.ok != true) {
                toastr.error(response.statusText);
                checkResponse(response)
                return null
            }
            else {
                return response.json()
            }
        })
        .then((response) => {
            if (response.status === 'success'){
                for(var index=0; index < response.data.length; index++){
                    var newOption = new Option(response.data[index].name, response.data[index].name, false, false);
                    if (index === 0){
                        $('.crop_select').append(newOption).trigger('change');
                    }
                    else{
                        $('.crop_select').append(newOption)
                    }
                }
            }
        })

        // Line graph data fetching
        let farmer_line_graph_url = "{% url 'api:api_farmer_admin:get_farmer_line_graph_data_api_view' %}"
        fetch(farmer_line_graph_url, {
            method: "GET",
            credentials: "include",
        })
        .then((response) => {
            if (response.ok != true) {
                toastr.error(response.statusText);
                checkResponse(response)
                return null
            }
            else {
                return response.json()
            }
        })
        .then((response) => {
            if (response.status === 'success'){
                var element = document.getElementById('kt_apexcharts_3');

                var height = parseInt(KTUtil.css(element, 'height'));
                var labelColor = "#1a4442"
                var borderColor = "#eae5da"
                var baseColor = "#1a4442"
                var lightColor = "blue"

                if (!element) {
                    return;
                }
                
                var options = {
                    series: [{
                        name: 'Farmers Joined',
                        data: response.data.counts
                    }],
                    chart: {
                        fontFamily: 'inherit',
                        type: 'area',
                        toolbar: {
                            show: false
                        }
                    },
                    plotOptions: {

                    },
                    legend: {
                        show: true
                    },
                    dataLabels: {
                        enabled: true
                    },
                    fill: {
                        type: 'solid',
                        opacity: 1
                    },
                    stroke: {
                        curve: 'smooth',
                        show: true,
                        width: 3,
                        colors: [baseColor]
                    },
                    xaxis: {
                        categories: response.data.years,
                        axisBorder: {
                            show: false,
                        },
                        axisTicks: {
                            show: false
                        },
                        labels: {
                            style: {
                                colors: labelColor,
                                fontSize: '12px'
                            }
                        },
                        crosshairs: {
                            position: 'front',
                            stroke: {
                                color: baseColor,
                                width: 1,
                                dashArray: 3
                            }
                        },
                        tooltip: {
                            enabled: true,
                            formatter: undefined,
                            offsetY: 0,
                            style: {
                                fontSize: '12px'
                            }
                        }
                    },
                    yaxis: {
                        labels: {
                            style: {
                                colors: labelColor,
                                fontSize: '12px'
                            }
                        }
                    },
                    states: {
                        normal: {
                            filter: {
                                type: 'none',
                                value: 0
                            }
                        },
                        hover: {
                            filter: {
                                type: 'none',
                                value: 0
                            }
                        },
                        active: {
                            allowMultipleDataPointsSelection: false,
                            filter: {
                                type: 'none',
                                value: 0
                            }
                        }
                    },
                    tooltip: {
                        style: {
                            fontSize: '12px'
                        },
                        y: {
                            formatter: function (val) {
                                return val + ' Farmers'
                            }
                        }
                    },
                    colors: [lightColor],
                    grid: {
                        borderColor: borderColor,
                        strokeDashArray: 4,
                        yaxis: {
                            lines: {
                                show: true
                            }
                        }
                    },
                    markers: {
                        strokeColor: baseColor,
                        strokeWidth: 3
                    }
                };

                var chart = new ApexCharts(element, options);
                chart.render();
            }
        })

        // Pie chart initialization
        var piechart = {{piechart|safe}}

        google.load('visualization', '1', {
            packages: ['corechart', 'bar', 'line']
        });
        
        var options = {
            legend: 'none',
            pieSliceText: 'percentage',
            pieStartAngle: -50,
        };
        var options_1 = {
            ...options,
            colors: ['#376C72', '#37B067',]
        }
        var options_2 = {
            ...options,
            colors: ['#EB6672', '#8263B1', '#EDB40D', '#9F765E']
        }
        var options_3 = {
            ...options_2,
            width: 250,
            height: 250,
        }
        var options_4 = {
            ...options,
            colors: ['#4B877A', '#27CB0C', '#EB6672', '#C75E0C', '#F19900', '#8263B1']
        }

        // Overall Yarn
        google.setOnLoadCallback(function () {
            var data = google.visualization.arrayToDataTable([
                ['Category', 'Quantity'],
                ...piechart,
            ]);
            var chart = new google.visualization.PieChart(document.getElementById('kt_amcharts_3'));
            chart.draw(data, options_1);
        });

        {% comment %} am5.ready(function () {
            // Create root element
            // https://www.amcharts.com/docs/v5/getting-started/#Root_element
            var root = am5.Root.new("kt_amcharts_3");
            root._logo.dispose();
            // Set themes
            // https://www.amcharts.com/docs/v5/concepts/themes/
            root.setThemes([
                am5themes_Animated.new(root)
            ]);

            // Create chart
            // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/
            var chart = root.container.children.push(am5percent.PieChart.new(root, {
                layout: root.verticalLayout
            }));

            // Create series
            // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Series
            var series = chart.series.push(am5percent.PieSeries.new(root, {
                alignLabels: true,
                calculateAggregates: true,
                valueField: "value",
                categoryField: "category"
            }));

            series.slices.template.setAll({
                strokeWidth: 3,
                stroke: am5.color(0xffffff)
            });

            series.labelsContainer.set("paddingTop", 30)

            // Set up adapters for variable slice radius
            // https://www.amcharts.com/docs/v5/concepts/settings/adapters/
            series.slices.template.adapters.add("radius", function (radius, target) {
                var dataItem = target.dataItem;
                var high = series.getPrivate("valueHigh");

                if (dataItem) {
                    var value = target.dataItem.get("valueWorking", 0);
                    return radius * value / high
                }
                return radius;
            });

            // Set data
            // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Setting_data
            series.data.setAll(piechart);

            // Create legend
            // https://www.amcharts.com/docs/v5/charts/percent-charts/legend-percent-series/
            var legend = chart.children.push(am5.Legend.new(root, {
                centerX: am5.p50,
                x: am5.p50,
                marginTop: 15,
                marginBottom: 15
            }));

            legend.data.setAll(series.dataItems);

            // Play initial series animation
            // https://www.amcharts.com/docs/v5/concepts/animations/#Animation_of_series
            series.appear(1000, 100);

        }); // end am5.ready() {% endcomment %}


        am5.ready(function () {
            var root = am5.Root.new("nutrition_bar_graph");
            root._logo.dispose();
            // Set themes
            // https://www.amcharts.com/docs/v5/concepts/themes/
            root.setThemes([
                am5themes_Animated.new(root)
            ]);


            // Create chart
            // https://www.amcharts.com/docs/v5/charts/xy-chart/
            let chart = root.container.children.push(am5xy.XYChart.new(root, {
                panX: false,
                panY: false,
                wheelX: "panX",
                wheelY: "zoomX",
                layout: root.verticalLayout
            }));


            // Add legend
            // https://www.amcharts.com/docs/v5/charts/xy-chart/legend-xy-series/
            let legend = chart.children.push(
            am5.Legend.new(root, {
                centerX: am5.p50,
                x: am5.p50
            })
            );

            var nutrition_bar_graph_data =  {{nutrition_bar_graph_data|safe}}

            let data = nutrition_bar_graph_data

            // Create axes
            // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
            let xRenderer = am5xy.AxisRendererX.new(root, {
            cellStartLocation: 0.1,
            cellEndLocation: 0.9
            })

            let xAxis = chart.xAxes.push(am5xy.CategoryAxis.new(root, {
            categoryField: "year",
            renderer: xRenderer,
            tooltip: am5.Tooltip.new(root, {})
            }));

            xRenderer.grid.template.setAll({
            location: 1
            })

            xAxis.data.setAll(data);

            let yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
            renderer: am5xy.AxisRendererY.new(root, {
                strokeOpacity: 0.1
            })
            }));


            // Add series
            // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
            function makeSeries(name, fieldName) {
            let series = chart.series.push(am5xy.ColumnSeries.new(root, {
                name: name,
                xAxis: xAxis,
                yAxis: yAxis,
                valueYField: fieldName,
                categoryXField: "year"
            }));

            series.columns.template.setAll({
                tooltipText: "{name}, {categoryX}:{valueY} Kg",
                width: am5.percent(90),
                tooltipY: 0,
                strokeOpacity: 0
            });

            series.data.setAll(data);

            // Make stuff animate on load
            // https://www.amcharts.com/docs/v5/concepts/animations/
            series.appear();

            series.bullets.push(function() {
                return am5.Bullet.new(root, {
                locationY: 0,
                sprite: am5.Label.new(root, {
                    text: "{valueY} Kg",
                    fill: root.interfaceColors.get("alternativeText"),
                    centerY: 0,
                    centerX: am5.p50,
                    populateText: true
                })
                });
            });

            legend.data.push(series);
            }

            makeSeries("Vermi-Compost", "vermicompost");
            makeSeries("Vermi-Compost-Used", "vermicompost-used");
            makeSeries("Compost", "compost");
            makeSeries("Compost-Used", "compost-used");
            makeSeries("FYM", "FYM");
            makeSeries("FYM-Used", "FYM-used");


            // Make stuff animate on load
            // https://www.amcharts.com/docs/v5/concepts/animations/
            chart.appear(1000, 100);

        })

        
        // Pie chart initialization
        var pest_piechart_data = {{pest_piechart_data|safe}}
        am5.ready(function () {
            // Create root element
            // https://www.amcharts.com/docs/v5/getting-started/#Root_element
            var root = am5.Root.new("pest_bar_graph");
            root._logo.dispose();
            // Set themes
            // https://www.amcharts.com/docs/v5/concepts/themes/
            root.setThemes([
                am5themes_Animated.new(root)
            ]);

            // Create chart
            // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/
            var chart = root.container.children.push(am5percent.PieChart.new(root, {
                layout: root.verticalLayout
            }));

            // Create series
            // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Series
            var series = chart.series.push(am5percent.PieSeries.new(root, {
                alignLabels: true,
                calculateAggregates: true,
                valueField: "value",
                categoryField: "category"
            }));

            series.slices.template.setAll({
                strokeWidth: 3,
                stroke: am5.color(0xffffff)
            });

            series.labelsContainer.set("paddingTop", 30)

            // Set up adapters for variable slice radius
            // https://www.amcharts.com/docs/v5/concepts/settings/adapters/
            series.slices.template.adapters.add("radius", function (radius, target) {
                var dataItem = target.dataItem;
                var high = series.getPrivate("valueHigh");

                if (dataItem) {
                    var value = target.dataItem.get("valueWorking", 0);
                    return radius * value / high
                }
                return radius;
            });

            // Set data
            // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Setting_data
            series.data.setAll(pest_piechart_data);

            // Create legend
            // https://www.amcharts.com/docs/v5/charts/percent-charts/legend-percent-series/
            var legend = chart.children.push(am5.Legend.new(root, {
                centerX: am5.p50,
                x: am5.p50,
                marginTop: 15,
                marginBottom: 15
            }));

            legend.data.setAll(series.dataItems);

            // Play initial series animation
            // https://www.amcharts.com/docs/v5/concepts/animations/#Animation_of_series
            series.appear(1000, 100);

        }); // end am5.ready()


        {% comment %} 
        am5.ready(function () {
            var root = am5.Root.new("pest_bar_graph");
            root._logo.dispose();
            // Set themes
            // https://www.amcharts.com/docs/v5/concepts/themes/
            root.setThemes([
                am5themes_Animated.new(root)
            ]);


            // Create chart
            // https://www.amcharts.com/docs/v5/charts/xy-chart/
            let chart = root.container.children.push(am5xy.XYChart.new(root, {
                panX: false,
                panY: false,
                wheelX: "panX",
                wheelY: "zoomX",
                layout: root.verticalLayout
            }));


            // Add legend
            // https://www.amcharts.com/docs/v5/charts/xy-chart/legend-xy-series/
            let legend = chart.children.push(
            am5.Legend.new(root, {
                centerX: am5.p50,
                x: am5.p50
            })
            );

            var pest_bar_graph_data =  {{pest_bar_graph_data|safe}}
            console.log('pest_bar_graph_data', pest_bar_graph_data)
            let data = pest_bar_graph_data

            // Create axes
            // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
            let xRenderer = am5xy.AxisRendererX.new(root, {
            cellStartLocation: 0.1,
            cellEndLocation: 0.9
            })

            let xAxis = chart.xAxes.push(am5xy.CategoryAxis.new(root, {
            categoryField: "year",
            renderer: xRenderer,
            tooltip: am5.Tooltip.new(root, {})
            }));

            xRenderer.grid.template.setAll({
            location: 1
            })

            xAxis.data.setAll(data);

            let yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
            renderer: am5xy.AxisRendererY.new(root, {
                strokeOpacity: 0.1
            })
            }));


            // Add series
            // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
            function makeSeries(name, fieldName) {
            let series = chart.series.push(am5xy.ColumnSeries.new(root, {
                name: name,
                xAxis: xAxis,
                yAxis: yAxis,
                valueYField: fieldName,
                categoryXField: "year"
            }));

            series.columns.template.setAll({
                tooltipText: "{name}, {categoryX}:{valueY} Kg",
                width: am5.percent(90),
                tooltipY: 0,
                strokeOpacity: 0
            });

            series.data.setAll(data);

            // Make stuff animate on load
            // https://www.amcharts.com/docs/v5/concepts/animations/
            series.appear();

            series.bullets.push(function() {
                return am5.Bullet.new(root, {
                locationY: 0,
                sprite: am5.Label.new(root, {
                    text: "{valueY} Kg",
                    fill: root.interfaceColors.get("alternativeText"),
                    centerY: 0,
                    centerX: am5.p50,
                    populateText: true
                })
                });
            });

            legend.data.push(series);
            }

            makeSeries("Vermi-Compost", "vermicompost");
            makeSeries("Vermi-Compost-Used", "vermicompost-used");
            makeSeries("Compost", "compost");
            makeSeries("Compost-Used", "compost-used");
            makeSeries("FYM", "FYM");
            makeSeries("FYM-Used", "FYM-used");


            // Make stuff animate on load
            // https://www.amcharts.com/docs/v5/concepts/animations/
            chart.appear(1000, 100);

        }) {% endcomment %}
    }

    // Datatable Functions
    var crop_datatable = $('#crop_datatable').DataTable({
        "info": false,
        "paginate": false,
        'order': [],
        'columnDefs': [
            { orderable: false, className: "p-5", targets: 0 }, // Disable ordering on column 0 (checkbox)
            { orderable: false, className: "p-5 text-end", targets: 1 }, // Disable ordering on column 6 (actions)
        ],
    })

    const updateCropDetails = () => {
        var selected_crop = $('#crop_detail_select').val()
        crop_datatable.clear()
        var year = $('#year_select').val()
        let crop_details_url = "{% url 'api:api_farmer_admin:get_crop_details_from_name_api_view' %}"
        fetch(crop_details_url, {
            method: "POST",
            body: JSON.stringify({
                crop_name: selected_crop,
                year: year
            }),
            headers: {
                "X-CSRFToken": getCookie("csrftoken"),
                "Content-type": "application/json; charset=UTF-8",
            },
            credentials: "include",
        })
        .then((response) => {
            if (response.ok != true) {
                toastr.error(response.statusText);
                checkResponse(response)
                return null
            }
            else {
                return response.json()
            }
        })
        .then((response) => {
            crop_datatable.row.add(['Name of crop cultivated', selected_crop]).draw()
            crop_datatable.row.add(['Area under that crop cultivation (Ha)', response.data.organic_crop.total_area || "0"]).draw()
            crop_datatable.row.add(['Estimated yield (Kg)', (response.data.organic_crop.total_expected_yield || "0")]).draw()
            crop_datatable.row.add(['Estimated Productivity (Kg/Ha)', (response.data.organic_crop.total_expected_productivity || "0")]).draw()
            crop_datatable.row.add(['Actual harvested quantity (Kg)', (response.data.harvest_details.total_first_harvest + response.data.harvest_details.total_second_harvest + response.data.harvest_details.total_third_harvest) || "0"]).draw()
            crop_datatable.row.add(['Actual Productivity (Kg/Ha)', response.data.harvest_details.total_actual_crop_production || "0"]).draw()
            crop_datatable.row.add(['Quantity Sold as organic (Kg)', response.data.harvest_details.total_quantity_sold_fpo + response.data.harvest_details.total_quantity_sold_outside || "0"]).draw()
            crop_datatable.row.add(['Total premium amount paid to farmers (Rs.)', response.data.harvest_details.total_premium_paid_fpo + response.data.harvest_details.total_premium_paid_outside || "0"]).draw()
            crop_datatable.row.add(['Farmer Net income (Rs) (Total income-total cost)', response.data.cost.total_cost || "0"]).draw()
        })
    }

    $('#crop_detail_select').on('change', function(e) {
        updateCropDetails()
    });

    $('#year_select').on('change', function(e) {
        updateCropDetails()
    });
    
    $('#crop_cost_select').on('change', function(e) {
        var selected_crop = $('#crop_cost_select').val()

        let crop_bar_graph_details_url = "{% url 'api:api_farmer_admin:get_crop_bar_graph_details_api_view' %}"
        fetch(crop_bar_graph_details_url, {
            method: "POST",
            body: JSON.stringify({
                crop_name: selected_crop
            }),
            headers: {
                "X-CSRFToken": getCookie("csrftoken"),
                "Content-type": "application/json; charset=UTF-8",
            },
            credentials: "include",
        })
        .then((response) => {
            if (response.ok != true) {
                toastr.error(response.statusText);
                checkResponse(response)
                return null
            }
            else {
                return response.json()
            }
        })
        .then((response) => {
            if (response.status === 'success'){
                var element = document.getElementById('kt_apexcharts_2');
                if (response.data.y_axis[0] !== null){
                    // initialize the chart
                    element.innerHTML = ""
                    var height = 450;
                    var labelColor = "#000"
                    var borderColor = "#eae5da"
                    var baseColor = "#1a4442"
                    var secondaryColor = "gray"

                    if (!element) {
                        return;
                    }

                    var options = {
                        series: [{
                            name: 'Costs',
                            data: response.data.y_axis
                        },
                        {
                            name: 'Average Costs',
                            data: response.data.average_costs
                        }],
                        chart: {
                            fontFamily: 'inherit',
                            type: 'bar',
                            height: height,
                            toolbar: {
                                show: false
                            }
                        },
                        plotOptions: {
                            bar: {
                                horizontal: true,
                                columnWidth: ['30%'],
                                endingShape: 'rounded'
                            },
                        },
                        legend: {
                            show: false
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            show: true,
                            width: 2,
                            colors: ['transparent']
                        },
                        xaxis: {
                            categories: response.data.x_axis,
                            axisBorder: {
                                show: false,
                            },
                            axisTicks: {
                                show: false
                            },
                            labels: {
                                style: {
                                    colors: labelColor,
                                    fontSize: '12px'
                                }
                            }
                        },
                        yaxis: {
                            labels: {
                                style: {
                                    colors: labelColor,
                                    fontSize: '12px'
                                }
                            }
                        },
                        fill: {
                            opacity: 1
                        },
                        states: {
                            normal: {
                                filter: {
                                    type: 'none',
                                    value: 0
                                }
                            },
                            hover: {
                                filter: {
                                    type: 'none',
                                    value: 0
                                }
                            },
                            active: {
                                allowMultipleDataPointsSelection: false,
                                filter: {
                                    type: 'none',
                                    value: 0
                                }
                            }
                        },
                        tooltip: {
                            style: {
                                fontSize: '12px'
                            },
                            y: {
                                formatter: function (val) {
                                    return '₹' + val
                                }
                            }
                        },
                        colors: [baseColor, secondaryColor],
                        grid: {
                            borderColor: borderColor,
                            strokeDashArray: 4,
                            yaxis: {
                                lines: {
                                    show: true
                                }
                            }
                        }
                    };

                    var bar_graph = new ApexCharts(element, options);
                    bar_graph.render();
                }
                else{
                    // Show no data found
                    element.innerHTML = `
                        <div class="d-flex align-items-center justify-content-center">
                            <h3> No data found for the selected crop </h3>
                        </div>
                    `
                    
                }
            }
        })
    });

</script>

{% endblock js %}