{% extends 'farmer_admin/base_create_edit.html' %}
{% load static %}

{% block title %}
Farmer Harvest and Income {% if farmer_harvest_object %} Edit {% else %} Create {% endif %}
{% endblock title %}


{% block js %}
{{block.super}}
<script>
    $("#id_first_harvest_date").daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 1901,
        locale: {
            format: 'YYYY-MM-DD'
        },
        maxYear: parseInt(moment().format("YYYY"),12)
    });
    $("#id_second_harvest_date").daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 1901,
        locale: {
            format: 'YYYY-MM-DD'
        },
        maxYear: parseInt(moment().format("YYYY"),12)
    });
    $("#id_third_harvest_date").daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 1901,
        locale: {
            format: 'YYYY-MM-DD'
        },
        maxYear: parseInt(moment().format("YYYY"),12)
    });
    

</script>
{% endblock js %}