{% extends 'farmer_admin/base_create_edit.html' %}
{% load static %}

{% block title %}
Farmer Seed Details {% if farmer_seed_object %} Edit {% else %} Create {% endif %}
{% endblock title %}


{% block js %}
{{block.super}}

<script>

    $(document).ready(function() {
        

        var initialVal = $(`#id_source_of_input`).val()
        toggleSourcingFields(initialVal)

        $(`#id_source_of_input`).on('change', function(element) {
            let sourcing = $(this).find(":selected").val()
            toggleSourcingFields(sourcing)
        })

        
    })

    const toggleSourcingFields = (sourcing) => {
        console.log('sourcing', sourcing)
        if (sourcing === 'ON_FARM'){
            $('.on-farm-input').parent().css('display', 'block')
            $('.off-farm-input').parent().css('display', 'none')
        }
        else if (sourcing === 'OUTSOURCED'){
            $('.on-farm-input').parent().css('display', 'none')
            $('.off-farm-input').parent().css('display', 'block')
        }
        else{
            // hide both
            $('.on-farm-input').parent().css('display', 'none')
            $('.off-farm-input').parent().css('display', 'none')
        }
    }

    
    
</script>


<script>
    $("#id_date_of_purchase").daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 1901,
        locale: {
            format: 'YYYY-MM-DD'
        },
        maxYear: parseInt(moment().format("YYYY"),12)
    });
    

</script>
{% endblock js %}