{% extends 'farmer_admin/base_create_edit.html' %}
{% load static %}

{% block title %}
Farmer Harvest Details {% if farmer_seed_object %} Edit {% else %} Create {% endif %}
{% endblock title %}


{% block js %}
{{block.super}}
<script>
    $("#id_total_crop_harvested").attr("readonly", true); 

    $("#id_date_of_purchase").daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 1901,
        locale: {
            format: 'YYYY-MM-DD'
        },
        maxYear: parseInt(moment().format("YYYY"),12)
    });
    
    const total_harvest_fields = ['id_first_harvest', 'id_second_harvest', 'id_third_harvest']

    total_harvest_fields.forEach((field) => {
        $('#' + field).on('change', () => {
            update_total_harvest()
        })
    })

    const update_total_harvest = () => {
        sum = 0
        total_harvest_fields.forEach((field) => {
            sum = sum + parseFloat($('#' + field).val() || 0)
        })
        $('#id_total_crop_harvested').val(sum).trigger('change')
    }



    // FPO Fields

    const fpo_fields = ['id_price_paid_fpo', 'id_premium_paid_fpo']

    $('#id_price_paid_fpo').on('change', () => {
        update_total_income_fpo()
        update_total_fpo()
    })
    $('#id_premium_paid_fpo').on('change', () => {
        update_total_fpo()
    })

    const update_total_fpo = () => {
        sum = 0
        fpo_fields.forEach((field) => {
            sum = sum + parseFloat($('#' + field).val() || 0)
        })
        $('#id_total_price_received_fpo').val(sum)
        $('#id_total_price_received_fpo').trigger('change')
    }
    

    $('#id_quantity_sold_fpo').on('change', () => {
        update_total_income_fpo()
        update_unsold()
    })

    $('#id_total_price_received_fpo').on('change', () => {
        update_total_income_fpo()
    })

    const income_fpo_fields = ['id_quantity_sold_fpo', 'id_total_price_received_fpo']
    
    const update_total_income_fpo = () => {
        let total = Math.round($('#id_quantity_sold_fpo').val() * $('#id_total_price_received_fpo').val()) || 0
        $('#id_total_organic_sale_fpo').val(total).trigger('change')
    }
    
    
    // Others fields

    const other_fields = ['id_price_paid_outside', 'id_premium_paid_outside']

    $('#id_price_paid_outside').on('change', () => {
        update_total_others()
        update_total_income_others()
    })
    $('#id_premium_paid_outside').on('change', () => {
        update_total_others()
    })

    const update_total_others = () => {
        sum = 0
        other_fields.forEach((field) => {
            sum = sum + parseFloat($('#' + field).val() || 0)
        })
        $('#id_total_price_received_outside').val(sum).trigger('change')
    }

    const income_other_fields = ['id_quantity_sold_outside', 'id_total_price_received_outside']

    $('#id_quantity_sold_outside').on('change', () => {
        update_total_income_others()
        update_unsold()
    })
    $('#id_total_price_received_outside').on('change', () => {
        update_total_income_others()
    })


    const update_total_income_others = () => {
        let total = Math.round($('#id_quantity_sold_outside').val() * $('#id_total_price_received_outside').val()) || 0
        $('#id_total_organic_sale_outside').val(total).trigger('change')
    }
    
    // Gross Income field

    gross_income_fields = ['id_total_organic_sale_outside', 'id_total_organic_sale_fpo']

    gross_income_fields.forEach((field) => {
        $('#' + field).on('change', () => {
            update_gross_income()
        })
    })

    const update_gross_income = () => {
        sum = 0
        gross_income_fields.forEach((field) => {
            sum = sum + parseFloat($('#' + field).val() || 0)
        })
        $('#id_gross_income').val(sum)
    }

    $('#id_total_crop_harvested').on('change', () => {
        update_unsold()
    })

    const update_unsold = () => {
        const unsold = parseFloat($('#id_total_crop_harvested').val()) - $('#id_quantity_sold_fpo').val() - $('#id_quantity_sold_outside').val()
        console.log(unsold)
        $('#id_unsold_quantity').val(unsold)
    }


    // Actual Organic crop productivity field

    $('#id_total_crop_harvested').on('change', () => {
        update_actual_organic_crop_productivity()
    })

    var area_of_land = `{{ area_of_land }}`
    
    const update_actual_organic_crop_productivity = () => {
        console.log('total crop harvested', $('#id_total_crop_harvested').val())
        actual_organic_crop_productivity = parseFloat($('#id_total_crop_harvested').val() / area_of_land ).toFixed(2) || 0
        $('#id_actual_crop_production').val(actual_organic_crop_productivity)
    }

</script>
{% endblock js %}