{% extends 'farmer_admin/base.html' %}
{% load static %}
{% load base_extras %}

{% block css %}
{{block.super}}
<style>
    .page-section{

    }
</style>
{% endblock css %}

{% block content %}
<!--begin::Post-->
<div class="content flex-row-fluid" id="kt_content">
    <!--begin::Layout - Overview-->
    <div class="d-flex flex-column flex-xl-row">
        <!--begin::Sidebar-->
        <div class="flex-column flex-lg-row-auto w-100 w-xl-300px mb-10">
            <!--begin::Card-->
            <div class="card card-flush" data-kt-sticky="true" data-kt-sticky-name="account-navbar" data-kt-sticky-offset="{default: false, xl: '80px'}" data-kt-sticky-height-offset="50" data-kt-sticky-width="{lg: '250px', xl: '300px'}" data-kt-sticky-left="auto" data-kt-sticky-top="90px" data-kt-sticky-animation="false" data-kt-sticky-zindex="95">
                <!--begin::Card header-->
                <div class="card-header justify-content-end">
                    <!--begin::Toolbar-->
                    <div class="card-toolbar">
                        <button class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start">
                            <i class="bi bi-three-dots fs-3"></i>
                        </button>
                        {% comment %} <!--begin::Menu 3-->
                        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-200px py-3" data-kt-menu="true">
                            <!--begin::Heading-->
                            <div class="menu-item px-3">
                                <div class="menu-content text-muted pb-2 px-3 fs-7 text-uppercase">Payments</div>
                            </div>
                            <!--end::Heading-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="#" class="menu-link px-3">Create Invoice</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="#" class="menu-link flex-stack px-3">Create Payment
                                <span class="ms-2" data-bs-toggle="tooltip" title="Specify a target name for future usage and reference">
                                    <i class="ki-duotone ki-information fs-6">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                    </i>
                                </span></a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="#" class="menu-link px-3">Generate Bill</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3" data-kt-menu-trigger="hover" data-kt-menu-placement="right-end">
                                <a href="#" class="menu-link px-3">
                                    <span class="menu-title">Subscription</span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <!--begin::Menu sub-->
                                <div class="menu-sub menu-sub-dropdown w-175px py-4">
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="#" class="menu-link px-3">Plans</a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="#" class="menu-link px-3">Billing</a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="#" class="menu-link px-3">Statements</a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu separator-->
                                    <div class="separator my-2"></div>
                                    <!--end::Menu separator-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <div class="menu-content px-3">
                                            <!--begin::Switch-->
                                            <label class="form-check form-switch form-check-custom form-check-solid">
                                                <!--begin::Input-->
                                                <input class="form-check-input w-30px h-20px" type="checkbox" value="1" checked="checked" name="notifications" />
                                                <!--end::Input-->
                                                <!--end::Label-->
                                                <span class="form-check-label text-muted fs-6">Recuring</span>
                                                <!--end::Label-->
                                            </label>
                                            <!--end::Switch-->
                                        </div>
                                    </div>
                                    <!--end::Menu item-->
                                </div>
                                <!--end::Menu sub-->
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3 my-1">
                                <a href="#" class="menu-link px-3">Settings</a>
                            </div>
                            <!--end::Menu item-->
                        </div>
                        <!--end::Menu 3--> {% endcomment %}
                    </div>
                    <!--end::Toolbar-->
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0 p-10">
                    <!--begin::Summary-->
                    <div class="d-flex flex-center flex-column mb-10">
                        <!--begin::Avatar-->
                        <div class="symbol mb-3 symbol-100px symbol-circle">
                            <img alt="Pic" src="{{farmer.profile_image.url}}" />
                        </div>
                        <!--end::Avatar-->
                        <!--begin::Name-->
                        <a href="#" class="fs-2 text-gray-800 text-hover-primary fw-bold mb-1">{{farmer.user.user_display_name}}</a>
                        <!--end::Name-->
                        <!--begin::Position-->
                        <div class="fs-6 fw-semibold text-gray-400 mb-2"></div>
                        <!--end::Position-->
                        {% comment %} <!--begin::Actions-->
                        <div class="d-flex flex-center">
                            <a href="#" class="btn btn-sm btn-light-primary py-2 px-4 fw-bold me-2" data-kt-drawer-show="true" data-kt-drawer-target="#kt_drawer_chat">Send Message</a>
                        </div>
                        <!--end::Actions--> {% endcomment %}
                    </div>
                    <!--end::Summary-->
                    <!--begin::Menu-->
                    <ul class="menu menu-column menu-pill menu-title-gray-700 menu-bullet-gray-300 menu-state-bg menu-state-bullet-primary fw-bold fs-5 mb-10">
                        <!--begin::Menu item-->
                        <li class="menu-item mb-1">
                            <!--begin::Menu link-->
                            <a class="menu-link px-6 py-4 left-navigation" href="#profile_details_div">
                                <span class="menu-bullet">
                                    <span class="bullet"></span>
                                </span>
                                <span class="menu-title">Profile Details</span>
                            </a>
                            <!--end::Menu link-->
                        </li>
                        <!--end::Menu item-->
                        <!--begin::Menu item-->
                        <li class="menu-item mb-1">
                            <!--begin::Menu link-->
                            <a class="menu-link px-6 py-4 left-navigation" href="#social_details_div">
                                <span class="menu-bullet">
                                    <span class="bullet"></span>
                                </span>
                                <span class="menu-title">Social Details</span>
                            </a>
                            <!--end::Menu link-->
                        </li>
                        <!--end::Menu item-->
                        <!--begin::Menu item-->
                        <li class="menu-item mb-1">
                            <!--begin::Menu link-->
                            <a class="menu-link px-6 py-4 left-navigation" href="#land_details_div">
                                <span class="menu-bullet">
                                    <span class="bullet"></span>
                                </span>
                                <span class="menu-title">Land Details</span>
                            </a>
                            <!--end::Menu link-->
                        </li>
                        <!--end::Menu item-->
                        <!--begin::Menu item-->
                        <li class="menu-item mb-1">
                            <!--begin::Menu link-->
                            <a class="menu-link px-6 py-4 left-navigation" href="#organic_crop_details_div">
                                <span class="menu-bullet">
                                    <span class="bullet"></span>
                                </span>
                                <span class="menu-title">Organic Crop Details</span>
                            </a>
                            <!--end::Menu link-->
                        </li>
                        <!--end::Menu item-->
                    </ul>
                    <!--end::Menu-->
                    {% comment %} <!--begin::Account info-->
                    <div class="border border-dashed border-gray-300 bg-lighten card-rounded p-6">
                        <!--begin::Title-->
                        <h5 class="mb-4">Account Status</h5>
                        <!--end::Title-->
                        <!--begin::Package-->
                        <div class="mb-3">
                            <!--begin::Plan-->
                            <span class="badge bg-success me-2 card-rounded">Basic Bundle</span>
                            <!--end::Plan-->
                            <!--begin::Price-->
                            <span class="fw-semibold text-gray-600">$149.99 / Year</span>
                            <!--end::Price-->
                        </div>
                        <!--end::Package-->
                        <a href="#" class="text-link fs-7 fw-bold" data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">Upgrade to Pro</a>
                    </div>
                    <!--end::Account info--> {% endcomment %}
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Sidebar-->
        <!--begin::Content-->
        <div class="flex-lg-row-fluid ms-lg-5">
            <!--begin::details View-->
            <div class="card mb-5 mb-xl-5 page-section" id="profile_details_div" >
                <!--begin::Card header-->
                <div class="card-header" >
                    <!--begin::Card title-->
                    <div class="card-title m-0">
                        <h3 class="fw-bold m-0">Profile Details</h3>
                        
                    </div>
                    <!--end::Card title-->
                    <div class="card-toolbar">
                        <!--begin::Action-->
                        <a href="{% url 'farmer_admin:farmer_update' farmer.pk %}" class="btn btn-primary align-self-center mx-10">Edit</a>
                        <!--end::Action-->
                        <div class="collapsible cursor-pointer rotate d-flex" data-bs-toggle="collapse" data-bs-target="#profile_collapsible">
                            <div class="rotate-180">    
                                <i class="ki-duotone ki-down fs-1"></i>
                            </div>
                        </div>
                    </div> 
                    
                </div>
                <!--begin::Card header-->
                <!--begin::Card body-->
                <div id="profile_collapsible" class="collapse">
                    <div class="card-body p-9">
                        <!--begin::Row-->
                        <div class="row mb-7">
                            <!--begin::Label-->
                            <label class="col-lg-4 fw-semibold text-muted">Full Name</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8">
                                <span class="fw-bold fs-6 text-dark">{{farmer.user.user_display_name}}</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->
                        <!--begin::Input group-->
                        <div class="row mb-7">
                            <!--begin::Label-->
                            <label class="col-lg-4 fw-semibold text-muted">Gender</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <span class="fw-semibold fs-6">{{farmer.gender}}</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-7">
                            <!--begin::Label-->
                            <label class="col-lg-4 fw-semibold text-muted d-flex align-items-center">Birth Date
                            <span class="d-flex align-items-center ms-1" data-bs-toggle="tooltip" title="Birth Date">
                                <i class="ki-duotone ki-information fs-3">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                </i>
                            </span></label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 d-flex align-items-center">
                                <span class="fw-bold fs-6 me-2">{{farmer.birth_date}}({{farmer.age}} years)</span>
                                <span class="badge badge-success">Verified</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-7">
                            <!--begin::Label-->
                            <label class="col-lg-4 fw-semibold text-muted">Aadhar Number</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8">
                                <a href="#" class="fw-semibold fs-6 text-dark text-hover-primary">{{farmer.aadhar_number}}</a>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-7">
                            <!--begin::Label-->
                            <label class="col-lg-4 fw-semibold text-muted d-flex align-items-center">Mobile Number
                            <span class="d-flex align-items-center ms-1" data-bs-toggle="tooltip" title="Mobile Number">
                                <i class="ki-duotone ki-information fs-3">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                </i>
                            </span></label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8">
                                <span class="fw-bold fs-6 text-dark">{{farmer.user.phone}}</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-7">
                            <!--begin::Label-->
                            <label class="col-lg-4 fw-semibold text-muted">Farmer Tracenet Registration number</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8">
                                <span class="fw-bold fs-6 text-dark">{{farmer.registration_number}}</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-10">
                            <!--begin::Label-->
                            <label class="col-lg-4 fw-semibold text-muted">Date of Joining of program</label>
                            <!--begin::Label-->
                            <!--begin::Label-->
                            <div class="col-lg-8">
                                <span class="fw-semibold fs-6">{{farmer.date_of_joining_of_program}}</span>
                            </div>
                            <!--begin::Label-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-10">
                            <!--begin::Label-->
                            <label class="col-lg-4 fw-semibold text-muted">Village</label>
                            <!--begin::Label-->
                            <!--begin::Label-->
                            <div class="col-lg-8">
                                <span class="fw-semibold fs-6">{{farmer.village}}</span>
                            </div>
                            <!--begin::Label-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-10">
                            <!--begin::Label-->
                            <label class="col-lg-4 fw-semibold text-muted">Taluka</label>
                            <!--begin::Label-->
                            <!--begin::Label-->
                            <div class="col-lg-8">
                                <span class="fw-semibold fs-6">{{farmer.taluka}}</span>
                            </div>
                            <!--begin::Label-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-10">
                            <!--begin::Label-->
                            <label class="col-lg-4 fw-semibold text-muted">District</label>
                            <!--begin::Label-->
                            <!--begin::Label-->
                            <div class="col-lg-8">
                                <span class="fw-semibold fs-6">{{farmer.district}}</span>
                            </div>
                            <!--begin::Label-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-10">
                            <!--begin::Label-->
                            <label class="col-lg-4 fw-semibold text-muted">State</label>
                            <!--begin::Label-->
                            <!--begin::Label-->
                            <div class="col-lg-8">
                                <span class="fw-semibold fs-6">{{farmer.state}}</span>
                            </div>
                            <!--begin::Label-->
                        </div>
                        <!--end::Input group-->
                        
                        {% comment %} <!--begin::Notice-->
                        <div class="notice d-flex bg-light-warning rounded border-warning border border-dashed p-6">
                            <!--begin::Icon-->
                            <i class="ki-duotone ki-information-5 fs-2tx text-warning me-4">
                                <span class="path1"></span>
                                <span class="path2"></span>
                                <span class="path3"></span>
                            </i>
                            <!--end::Icon-->
                            <!--begin::Wrapper-->
                            <div class="d-flex flex-stack flex-grow-1">
                                <!--begin::Content-->
                                <div class="fw-semibold">
                                    <h4 class="text-gray-900 fw-bold">We need your attention!</h4>
                                    <div class="fs-6 text-gray-700">Your payment was declined. To start using tools, please
                                    <a class="fw-bold" href="../dist/account/billing.html">Add Payment Method</a>.</div>
                                </div>
                                <!--end::Content-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Notice--> {% endcomment %}
                    </div>
                </div>
                <!--end::Card body-->
            </div>
            <!--end::details View-->
            <!--begin::details View-->
            
            <div class="card mb-5 mb-xl-5 page-section" id="social_details_div" >
                <!--begin::Card header-->
                <div class="card-header" >
                    <!--begin::Card title-->
                    <div class="card-title m-0">
                        <h3 class="fw-bold m-0">Social Details</h3>
                        
                    </div>
                    <!--end::Card title-->
                    <div class="card-toolbar">
                        <!--begin::Action-->
                        {% if farmer.social.all.first %}
                        <!--begin::Action-->
                        <a href="{% url 'farmer_admin:farmer_social_update' farmer.social.all.first.pk %}" class="btn btn-primary align-self-center mx-10">Edit</a>
                        <!--end::Action-->
                        {% else %}
                        <a href="{% url 'farmer_admin:farmer_social_create' farmer.pk %}" class="btn btn-primary align-self-center mx-10">Add New</a>
                        {% endif %}
                        <!--end::Action-->
                        <div class="collapsible cursor-pointer rotate d-flex" data-bs-toggle="collapse" data-bs-target="#socials_collapsible">
                            <div class="card-toolbar rotate-180">    
                                <i class="ki-duotone ki-down fs-1"></i>
                            </div>
                        </div>
                    </div> 
                    
                </div>
                <!--begin::Card header-->
                <div id="socials_collapsible" class="collapse show">
                    {% if farmer.social.all.first %}
                        {% model_to_dict farmer.social.all.first as farmer_social %}
                        <!--begin::Card body-->
                        <div class="card-body p-9">
                            {% for field_name, value in farmer_social.items %}
                            {% if field_name == 'id' or field_name == 'farmer' %}
                            {% elif field_name == 'Education' %}
                            <!--begin::Row-->
                            <div class="row mb-7">
                                <!--begin::Label-->
                                <label class="col-lg-4 fw-semibold text-muted">{{field_name}}</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-8">
                                    <span class="fw-bold fs-6 text-dark">{{farmer.social.all.first.education.name}}</span>
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Row-->
                            {% else %}
                            <!--begin::Row-->
                            <div class="row mb-7">
                                <!--begin::Label-->
                                <label class="col-lg-4 fw-semibold text-muted">{{field_name}}</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-8">
                                    <span class="fw-bold fs-6 text-dark">
                                        {% if value is True %}
                                        <i class="fa-solid fa-check"></i>
                                        {% elif value is False %}
                                        <i class="fa-solid fa-x"></i>
                                        {% else %}
                                        {{value}}
                                        {% endif %}
                                    </span>
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Row-->
                            {% endif %}
                            {% endfor %}
                        </div>
                        <!--end::Card body-->
                    {% endif %}
                </div>
            </div>
            <!--end::details View-->

            <!--begin::details View-->
            <div class="card mb-5 mb-xl-5 page-section" id="land_details_div" >
                <!--begin::Card header-->
                <div class="card-header" >
                    <!--begin::Card title-->
                    <div class="card-title m-0">
                        <h3 class="fw-bold m-0">Land Details</h3>
                        
                    </div>
                    <!--end::Card title-->
                    <div class="card-toolbar">
                        <!--begin::Action-->
                        {% if farmer.land.all.first %}
                        <!--begin::Action-->
                        <a href="{% url 'farmer_admin:farmer_land_details_update' farmer.land.all.first.pk %}" class="btn btn-primary align-self-center mx-10">Edit</a>
                        <!--end::Action-->
                        {% else %}
                        <a href="{% url 'farmer_admin:farmer_land_details_create' farmer.pk %}" class="btn btn-primary align-self-center mx-10">Add New</a>
                        {% endif %}
                        <!--end::Action-->
                        <div class="collapsible cursor-pointer rotate d-flex" data-bs-toggle="collapse" data-bs-target="#land_collapsible">
                            <div class="card-toolbar rotate-180">    
                                <i class="ki-duotone ki-down fs-1"></i>
                            </div>
                        </div>
                    </div> 
                </div>
                <!--begin::Card header-->
                <div id="land_collapsible" class="collapse show">
                    {% if farmer.land.all.first %}
                        {% model_to_dict farmer.land.all.first as farmer_land %}
                        {% include 'utils/show_values_from_model_dict.html' with model_dict=farmer_land.items %}
                    {% endif %}
                </div>
            </div>
            <!--end::details View-->
            <!--begin::details View-->
            <div class="card mb-5 mb-xl-5 page-section" id="organic_crop_details_div" >
                <!--begin::Card header-->
                <div class="card-header" >
                    <!--begin::Card title-->
                    <div class="card-title m-0">
                        <h3 class="fw-bold m-0">Organic Crop Details</h3>
                        
                    </div>
                    <!--end::Card title-->
                    <div class="card-toolbar">
                        <button id="export_to_pdf_button" onclick="generate_pdf('{{farmer.pk}}')" class="btn btn-primary align-self-center me-2">
                            <span class="indicator-label">Export To PDF</span>
                            <span class="indicator-progress">Please wait...
                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                        </button>
                        <a href="{% url 'farmer_admin:farmer_organic_crop_create' farmer.pk %}" class="btn btn-primary align-self-center mx-10">Add New</a>
                        <!--end::Action-->
                        <div class="collapsible cursor-pointer rotate d-flex" data-bs-toggle="collapse" data-bs-target="#organic_crop_collapsible">
                            <div class="rotate-180">    
                                <i class="ki-duotone ki-down fs-1"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!--begin::Card header-->
                <div id="organic_crop_collapsible" class="collapse show">
                    <table class="table table-row-dashed p-10" id="organic_crop_datatable">
                        <thead>
                            <tr class="text-start fw-bold fs-7 text-uppercase gs-0">
                                <th class="min-w-125px">Crop Name</th>
                                <th class="min-w-125px">Crop Type</th>
                                <th class="min-w-125px">Crop Area</th>
                                <th class="min-w-125px">Season</th>
                                <th class="min-w-125px">Year</th>
                                <th class="min-w-125px">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-600 fw-semibold">
                            {% for crop in farmer.organic_crop.all %}
                                {% if crop.is_active %}    
                                <tr>
                                    <td>{{crop.name}}</td>
                                    <td>{{crop.type}}</td>
                                    <td>{{crop.area}}</td>
                                    <td>{{crop.season.name}}</td>
                                    <td>{{crop.year}}</td>
                                    <td class="text-end">
                                        <a href="#" class="btn btn-light btn-active-light-primary btn-flex btn-center btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions
                                        <i class="ki-duotone ki-down fs-5 ms-1"></i></a>
                                        <!--begin::Menu-->
                                        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-125px py-4" data-kt-menu="true">
                                            <!--begin::Menu item-->
                                            <div class="menu-item px-3">
                                                <a href="{% url 'farmer_admin:farmer_organic_crop_details' crop.pk %}" class="menu-link px-3">View</a>
                                            </div>
                                            <!--end::Menu item-->
                                            <!--begin::Menu item-->
                                            <div class="menu-item px-3">
                                                <a onclick="deleteEntry('organic_crop', '{{crop.pk}}')" class="menu-link px-3" data-kt-users-table-filter="delete_row">Delete</a>
                                            </div>
                                            <!--end::Menu item-->
                                        </div>
                                        <!--end::Menu-->
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!--end::details View-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Layout - Overview-->
</div>
<!--end::Post-->
{% endblock content %}

{% block js %}
{{block.super}}

<script>
    $(document).ready(function() {

        const datatable = $('#organic_crop_datatable').DataTable({
            'columnDefs': [
                { orderable: false, targets: 5 }, // Disable ordering on column 6 (actions)
            ]
        });

        $('.collapse').collapse({
            hide: true
        })
        

        $("a[href*=\\#]").bind('click', function(e) {
            e.preventDefault(); // prevent hard jump, the default behavior

            var target = $(this).attr("href"); // Set the target as variable

            // perform animated scrolling by getting top-position of target-element and set it as scroll target
            $('html, body').stop().animate({
                scrollTop: $(target).offset().top
            }, 600, function() {
                location.hash = target; //attach the hash (#jumptarget) to the pageurl
            });

            return false;
        });
    });

    $(window).scroll(function() {
        var scrollDistance = $(window).scrollTop();

        // Show/hide menu on scroll
        //if (scrollDistance >= 850) {
        //		$('nav').fadeIn("fast");
        //} else {
        //		$('nav').fadeOut("fast");
        //}

        // Assign active class to nav links while scolling
        $('.page-section').each(function(i) {
            if ($(this).position().top <= (scrollDistance)) {
                $('.left-navigation').removeClass('active');
                $('.left-navigation').eq(i).addClass('active');
            }
        });
    }).scroll();


    const generate_pdf = (farmer_pk) => {
        var export_to_pdf_button = document.querySelector('#export_to_pdf_button')

        export_to_pdf_button.setAttribute('data-kt-indicator', 'on');
        // Disable submit button whilst loading
        export_to_pdf_button.disabled = true;

        let generate_pdf_url = '{% url "api:api_farmer_admin:farmer_organic_crop_generate_pdf_api_view" farmer.pk %}'
        fetch(generate_pdf_url, {
            method: "GET",
            credentials: "include"
        })
        .then((response) => {
            if (response.ok != true) {
                toastr.error(response.statusText);
                checkResponse(response)
            }
            else {
                return response.json()
            }
        })
        .then((response) => {
            export_to_pdf_button.removeAttribute('data-kt-indicator');
            export_to_pdf_button.disabled = false

            if (response.status === 'success'){
                Swal.fire({
                    text: "PDF has been successfully generated!",
                    icon: "success",
                    buttonsStyling: false,
                    confirmButtonText: "Open",
                    customClass: {
                        confirmButton: "btn btn-primary"
                    }
                }).then(function (result) {
                    if (result.isConfirmed) {
                        // Redirect to customers list page
                        window.open(response.pdf_url, '_blank');
                    }
                });
            }
            else if (response.status === 'exception'){
                toastr.warning(response.message)
            }
        })


    }


    const confirmDeleteEntry = (type, pk) => {

        delete_url = '{% url "api:api_farmer_admin:delete_organic_crop_api_view" %}'
        fetch(delete_url, {
            method: "POST",
            body: JSON.stringify({
                type: type,
                pk: pk
            }),
            headers: {
                "X-CSRFToken": getCookie("csrftoken"),
                "Content-type": "application/json; charset=UTF-8",
            },
            credentials: "include"
        })
        .then((response) => {
            if (response.ok != true) {
                toastr.error(response.statusText);
                checkResponse(response)
            }
            else {
                return response.json()
            }
        })
        .then((response) => {
            if (response.status === 'success'){
                Swal.fire({
                    text: "Successfully deleted !.",
                    icon: "success",
                    buttonsStyling: false,
                    confirmButtonText: "Ok, got it!",
                    customClass: {
                        confirmButton: "btn fw-bold btn-primary",
                    }
                })
                .then(() => {
                    window.location.reload()
                })
            }
            else{
                Swal.fire({
                    text: "Something went wrong !.",
                    icon: "danger",
                    buttonsStyling: false,
                    confirmButtonText: "Ok, got it!",
                    customClass: {
                        confirmButton: "btn fw-bold btn-primary",
                    }
                })
            }           
        })
    }

    
    const deleteEntry = async (type, pk) => {

        
        // SweetAlert2 pop up --- official docs reference: https://sweetalert2.github.io/
        Swal.fire({
            text: "Are you sure you want to delete this entry?",
            icon: "warning",
            showCancelButton: true,
            buttonsStyling: false,
            confirmButtonText: "Yes, delete!",
            cancelButtonText: "No, cancel",
            customClass: {
                confirmButton: "btn fw-bold btn-danger",
                cancelButton: "btn fw-bold btn-active-light-primary"
            }
        }).then(function (result) {
            if (result.value) {
                confirmDeleteEntry(type, pk)
                
            } else if (result.dismiss === 'cancel') {
                Swal.fire({
                    text: "Entry was not deleted.",
                    icon: "error",
                    buttonsStyling: false,
                    confirmButtonText: "Ok, got it!",
                    customClass: {
                        confirmButton: "btn fw-bold btn-primary",
                    }
                });
            }
        });
        
    }



</script>
{% endblock js %}