{% extends 'farmer_admin/base_create_edit.html' %}
{% load static %}

{% block title %}
{% if farmer_object %} Edit RPGF Farmer {% else %} Add RPGF Farmer{% endif %}
{% endblock title %}


{% block js %}
{{block.super}}
<script>
    $("#id_birth_date").daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 1901,
        locale: {
            format: 'YYYY-MM-DD'
        },
        maxYear: parseInt(moment().format("YYYY"),12)
    });
    $("#id_date_of_joining_of_program").daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 1901,
        locale: {
            format: 'YYYY-MM-DD'
        },
        maxYear: parseInt(moment().format("YYYY"),12)
    });
    $('id_country').select2()

</script>
{% endblock js %}